*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

header {
	background: darkblue;
	color: #eaeaea;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.SavedPictures {
	margin-right: auto;
	margin-left: 10px;
	cursor: pointer;
	transition: all .5s ease 0s;
}

.SavedPictures:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
}

.btn-cta {
	margin-right: 10px;
	border: none;
	font-size: 20px;
	padding: 6px 12px;
	background: #FF6A3D;
	color: #eaeaea;
	border-radius: 8px;
	cursor: pointer;
}

nav ul {
	display: flex;
	padding: 20px;
}

li {
	list-style-type: none;
	padding: 10px;
}

li a {
	transition: all .5s ease 0s;
}

li a:hover {
	color: #FF6A3D;
	transform: rotate(2deg);
	display: inline-block;
}

a {
	color: #eaeaea;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 70px 0;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-align: center;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.description {
	font-size: 28px;
	font-weight: bolder;
}

.img-saya {
	width: 100%;
	max-width: 350px;
	height: auto;
	padding: 10px;
}

.parallax {
	background-image: url ('asets/saya/rahma.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}